<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do list</title>
    <link rel="stylesheet" href="../css/output.css">
</head>
<body class="bg-teal-300">
    <h1 class="bg-purple-300 text-white"><%= kindOfDay %></h1>
    <!-- <p></p> -->
    <ul>
        <% for (let start = 0; start<newListItems.length; start++){ %>
            <li><%= newListItems[start] %></li>
        <% } %>
    </ul>
    <form action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item">
        <button type="submit" name="button">Add</button>
    </form>
</body>
</html>