<!DOCTYPE html>
<html lang="en" class="bg-style">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To-do list</title>
        <link rel="stylesheet" href="../css/output.css">
    </head>
    <body>
        <main class="mx-auto">
            <h1 class="bg-purple-300 p-2 text-white text-3xl" id="head"><%= kindOfDay %></h1>
            <ul>
                <% for (let start = 0; start<newListItems.length; start++){ %>
                    <li><input type="checkbox" class="mr-6 checkBox"> <%= newListItems[start] %></li>
                <% } %>
            </ul>
            <form action="/" method="post">
                <input type="text" name="newItem" placeholder="New Item">
                <button type="submit" name="button">Add</button>
            </form>
            <script src="../js/script.js"></script>
        </main>
        <footer>
            <p class="p-5 font-extralight text-xs text-black">&copy; Sammy Ogboru creations... <a href="https://portfolio-nine-gules-60.vercel.app/" target="_blank" rel="noopener noreferrer">See more.</a></p>
        </footer>
        
    </body>
</html>