<!DOCTYPE html>
<html lang="en" class="bg-style">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To-do list</title>
        <link rel="stylesheet" href="../css/output.css">
    </head>
    <body>
        <main class="mx-auto my-12 max-w-sm">
            <section class="">
                <header class="text-center mb-12">
                    <h1 class="bg-purple-300 p-2 text-white text-3xl font-bold" id="head"><%= listTitle %></h1>
                </header>
                <div class="bg-white box">
                    <ul>
                    <% for (let start = 0; start<newListItems.length; start++){ %>
                        <li class="item"><input type="checkbox" class="checkBox m-5"> <%= newListItems[start] %></li>
                    <% } %>
                    </ul>
                    <form action="/" method="post" class="form">
                        <input type="text" name="newItem" placeholder="New Item">
                        <button type="submit" class="btn" name="list" value=<%= listTitle %>>
                            +
                        </button>
                    </form>
                </div>
            </section>
            
            <footer class="text-center">
                <p class="p-5 font-extralight text-xs text-black">&copy; <a href="https://portfolio-nine-gules-60.vercel.app/" target="_blank" rel="noopener noreferrer">Samuel Ogboru. 2024</a></p>
            </footer>
        </main>
        <script src="../js/script.js"></script>
    </body>
</html>